<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>Marcus-Roberto-Google-Play-Google-Translate.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.kiarash.LaunchBarAction.Translatpr</string>
	<key>CFBundleName</key>
	<string>Translate</string>
	<key>LBArgument</key>
	<string>word or paragraph as text</string>
	<key>LBDescription</key>
	<dict>
		<key>LBArgument</key>
		<string>word or paragraph as text</string>
		<key>LBAuthor</key>
		<string>Kiarash Kiani</string>
		<key>LBEmail</key>
		<string>kiarash.kiani.h@gmail.com</string>
		<key>LBRequirements</key>
		<string>goslate python library</string>
		<key>LBResult</key>
		<string>text in persian</string>
		<key>LBSummary</key>
		<string>google translator to persian language</string>
		<key>LBTwitter</key>
		<string>@kiarash_kiani</string>
		<key>LBWebsite</key>
		<string>http://kiarash.info</string>
	</dict>
	<key>LBRequirements</key>
	<string>goslate python library</string>
	<key>LBResult</key>
	<string>text in persian</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.py</string>
		</dict>
		<key>LBSuggestionsScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>suggestions.py</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>2015</string>
</dict>
</plist>
